<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title> <%= member.title %></title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <h1> <%= member.title %> </h1>
<%- include('components/notification') %>
<%- include('components/nav') %>
