<%- include('header') %>
  <form method="POST">
    <div>
      <label>帳號</label>
      <input type="text" placeholder="請輸入帳號">
    </div>
    <div>
      <label>密碼</label>
      <input type="text" placeholder="請輸入密碼"></div>
  </form>
</body>
</html>
