<%- include('header') %>
  <%- include('components/content-left') %>
  資料編輯
  <div class="content-right">
    <form action="POST">
      <img src= <%= img %> alt="avatar">
      <input type="file" name="avatar">
    </form>
  </div>
</body>
</html>
