<%- include('header') %>
  <%- include('components/content-left') %>
  <div class="content-right">
    <form method="POST">
      <input type="email" placeholder="請輸入新的 e-mail" name="email">
      <button type="submit">更新</button>
    </form>
  </div>
</body>
</html>
