<%- include('header') %>
  <%- include('components/content-left') %>
  資料編輯
  <div class="content-right">
    <form action="POST">
      <input type="email" placeholder="請輸入新的 e-mail">
      <button type="submit">更新</button>
    </form>
  </div>
</body>
</html>
