strong {
  color: red;
  display: block;
}
.content-left {
  max-width: 40%;
  border: 1px solid black;
  margin: 0;
  display: inline-block;
}

.content-left > button {
  display: block;
  margin: auto;
}

.content-right {
  max-width: 40%;
  border: 1px solid black;
  margin: 0;
  display: inline-block;
}
