strong {
  color: red;
  display: block;
}
.content-left {
  max-width: 40%;
  border: 1px solid black;
  margin: 0;
  display: inline-block;
}

img {
  max-width: 50%;
}

.menu {
  margin-bottom: 40px;
}

.content-left > button {
  display: block;
  margin: auto;
}

form > img, form > input, form > button {
  display: block;
}

.content-right {
  max-width: 40%;
  border: 1px solid black;
  margin: 0;
  display: inline-block;
}

a:link{
  color: blue;
  text-decoration:none; /* 去除底線 */
  }

  a:visited{
  color: blue;
  }

  a:active{
  color:blue ;
  }
